{% if page.layout == "homePage" %}
<footer class="text-white" style="background-color: #1aada0;">
{% else %}
<footer class="mt-5 text-white" style="background-color: #1aada0;">
{% endif %}
    <section class="pt-1">
        <div class="container mt-5 mb-2">
            <div class="row mt-2">

                <div class="col-md-6 col-lg-4 col-xl-4 mx-auto  mb-4 mb-md-1">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>
                    <p class="text-nowrap">
                        <i class="fas fa-home me-2"></i>Department of Computer Engineering,<br>
                        <span class="ms-4">Faculty of Engineering,</span><br>
                        <span class="ms-4">University of Peradeniya,</span><br>
                        <span class="ms-4">Peradeniya, 20400</span><br>
                        <span class="ms-4">Sri Lanka</span>
                    </p>
                    <!-- <p><i class="fas fa-envelope me-2"></i>headce@eng.pdn.ac.lk</p>
                    <p><i class="fas fa-phone me-2"></i>+94 81 2393470</p>
                    <p><i class="fas fa-print me-2"></i>+94 81 2393914</p> -->
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mb-md-1">
                    <h6 class="text-uppercase fw-bold">Quick Links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>

                    <ul class="list-unstyled">
                        <li><i class="fas fa-arrow-right me-2"></i><a href="/" class="text-white">Home</a></li>
                        <li><i class="fas fa-arrow-right me-2"></i><a href="/masters" class="text-white">All Courses</a></li>
                        <li><i class="fas fa-arrow-right me-2"></i><a href="https://people.ce.pdn.ac.lk/staff/academic/" class="text-white">Staff</a></li>
                        
                    </ul>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 mb-md-1">
                    <h6 class="text-uppercase fw-bold">Edit Page</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>

                    <ul class="list-unstyled">
                        <li><i class="fas fa-arrow-right me-2"></i><a href="" class="text-white" target="_blank">Edit PG Course Page</a></li>
                    </ul>
                </div>

                <!-- <div class="col-md-3 col-lg-5 col-xl-3 mx-auto mb-4 mb-md-1" style="margin:30px ;">
                    <img src="../assets/img/home_img/Logo_footer.svg" class="rounded" width="250">
                </div>  -->
                
            </div>
        </div>
    </section>

    <div class="text-center p-1" style="background-color: #1aada0;" >
       
    </div>

    <div class="text-center text-dark p-3 medium " style="background-color: #dddddd; font-family: 'Inria Sans', sans-serif; font-style: normal; font-weight: 700;">
        Copyright &copy; {{ site.time | date: '%Y'  }}
        <a class="text-dark btn-link" href="">Department of Computer Engineering - University of Peradeniya</a>
    </div>

</footer>