{% if page.layout == "coursePage" %}
<div id="home" style="background:url(../assets/img/home_img/bg-course.jpg); width: 100%; min-width: 300px; height: 100vh; background-size: cover; background-attachment: fixed; background-color:rgb(64, 64, 64); background-blend-mode: overlay;">
{% else %}
<div id="home" style="background:url(../assets/img/home_img/bg-home.jpg); width: 100%; min-width: 300px; height: 100vh; background-size: cover; background-attachment: fixed; background-color:rgb(64, 64, 64); background-blend-mode: overlay;">   
{% endif %}
    
    <div class="logo-bar">
        <img class="logo" src="../assets/img/home_img/Logo.svg" alt="">
        <img class="clock" src="../assets/img/home_img/Clock.svg" alt="">
    </div>
    <div class="menu-bar">
        <img class="nav-menu" src="../assets/img/home_img/nav_menu.png" alt="">
        <ul class="nav-link">
            <li><a class="lt-green" href="#">Home</a></li>
            <li><a href="#">All Courses</a></li>
            <li><a href="#">Staff</a></li>
        </ul>
        <div id="search-box">
            <a href="#"><img src="../assets/img/home_img/Register.svg" alt=""></a>
        </div>
    </div>
    <div id="hero">
        <img src="../assets/img/home_img/hero.svg" alt="">
    </div>

    <!-- <div class="align-self-center text-center text-light col-md-8 offset-md-2">
		
        <div class="lc-block mt-5 pt-5 mx-xs-4 mb-2">
			<div editable="rich">
				<p class="lead">Welcome To Department Of Computer Engineering</p>
			</div>
		</div>

        
        <div class="lc-block mt-0 mb-4">
			<div editable="rich">
				<h1 class="display-1 fw-bolder">Postgraduate Courses</h1>
			</div>
		</div> -->
        
</div>