<div id="home">
    
    <div class="logo-bar">
        {% if page.layout == "coursePage" %}
        <div class="path">
            <a href="/">Home</a>
            <i class="fa fa-chevron-right"></i>
            <span>Course</span>
        </div>
        <img class="logo" src="/assets/img/home_img/Logo.svg" alt="">
        {% else %}
        <img class="logo" src="/assets/img/home_img/Logo.svg" alt="">
        <img class="clock" src="/assets/img/home_img/Clock.svg" alt="">
        {% endif %}
    </div>
    <div class="menu-bar">
        {% if page.layout == "coursePage" %}
        <label id="course-name">{{ page.course_name }}</label>
        <div id="search-box">
            <label>{{ page.course_code }}</label>
            <img src="/assets/img/home_img/Course_code.svg" alt="">
        </div>
        {% else %}
        <img class="nav-menu" src="/assets/img/home_img/nav_menu.png" alt="">
        <ul class="nav-link">
            {% if page.layout == "mastersPage" %}
            <li><a href="/">Home</a></li>
            <li class="all_course">
                <a class="lt-green">All Courses<i class="fa fa-chevron-down"></i></a>
                <div class="space"></div>
                <ul  class="sub-menu">
                    <a href="http://www.ce.pdn.ac.lk/postgraduate-courses"><li>P.H.D.</li></a>
                    <a href="http://www.ce.pdn.ac.lk/postgraduate-courses"><li>M.Phil.</li></a>
                    <a href="/masters" aria-current="page"><li>Masters</li></a>
                </ul>
            </li>
            {% else %}
            <li><a class="lt-green" href="/">Home</a></li>
            <li class="all_course">
                <a>All Courses<i class="fa fa-chevron-down"></i></a>
                <div class="space"></div>
                <ul  class="sub-menu">
                    <a href="http://www.ce.pdn.ac.lk/postgraduate-courses"><li>Ph.D.</li></a>
                    <a href="http://www.ce.pdn.ac.lk/postgraduate-courses"><li>M.Phil.</li></a>
                    <a href="/masters"><li>Masters</li></a>
                </ul>
            </li>
            {% endif %}
            <li><a href="https://people.ce.pdn.ac.lk/staff/academic/" target="_blank">Staff</a></li>
        </ul>
        <div id="search-box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTpo1NKUlOEZSz60ojVLn6i9RR6rms7_qoyAOjGRx-sjXlhQ/viewform" target="_blank"><img src="../assets/img/home_img/Register.svg" alt=""></a>
        </div>
        {% endif %}
    </div>
    {% if page.layout != "coursePage" %}
    <div id="hero">
        <img src="/assets/img/home_img/hero.svg" alt="">
    </div>
    {% endif %}

    <!-- <div class="align-self-center text-center text-light col-md-8 offset-md-2">
		
        <div class="lc-block mt-5 pt-5 mx-xs-4 mb-2">
			<div editable="rich">
				<p class="lead">Welcome To Department Of Computer Engineering</p>
			</div>
		</div>

        
        <div class="lc-block mt-0 mb-4">
			<div editable="rich">
				<h1 class="display-1 fw-bolder">Postgraduate Courses</h1>
			</div>
		</div> -->
        
</div>