<div id="home">
    
    <div class="logo-bar">
        {% if page.layout == "coursePage" %}
        <div class="path">
            <a href="http://localhost:4000/home">Home</a>
            <i class="bi bi-chevron-right"></i>
            <span>Course</span>
        </div>
        <img class="logo" src="../assets/img/home_img/Logo.svg" alt="">
        {% else %}
        <img class="logo" src="../assets/img/home_img/Logo.svg" alt="">
        <img class="clock" src="../assets/img/home_img/Clock.svg" alt="">
        {% endif %}
    </div>
    <div class="menu-bar">
        {% if page.layout == "coursePage" %}
        <label id="course-name">Complex Reactive Systems and Process Automation</label>
        <div id="search-box">
            <label>COXXX</label>
            <img src="../assets/img/home_img/Course_code.svg" alt="">
        </div>
        {% else %}
        <img class="nav-menu" src="../assets/img/home_img/nav_menu.png" alt="">
        <ul class="nav-link">
            <li><a class="lt-green" href="#">Home</a></li>
            <li><a href="#">All Courses</a></li>
            <li><a href="#">Staff</a></li>
        </ul>
        <div id="search-box">
            <a href="#"><img src="../assets/img/home_img/Register.svg" alt=""></a>
        </div>
        {% endif %}
    </div>
    {% if page.layout != "coursePage" %}
    <div id="hero">
        <img src="../assets/img/home_img/hero.svg" alt="">
    </div>
    {% endif %}

    <!-- <div class="align-self-center text-center text-light col-md-8 offset-md-2">
		
        <div class="lc-block mt-5 pt-5 mx-xs-4 mb-2">
			<div editable="rich">
				<p class="lead">Welcome To Department Of Computer Engineering</p>
			</div>
		</div>

        
        <div class="lc-block mt-0 mb-4">
			<div editable="rich">
				<h1 class="display-1 fw-bolder">Postgraduate Courses</h1>
			</div>
		</div> -->
        
</div>