<div id="home">
    <div class="logo-bar">
        <img class="logo" src="../assets/img/home_img/Logo.svg" alt="">
        <img class="clock" src="../assets/img/home_img/Clock.svg" alt="">
    </div>
    <div class="menu-bar">
        <img class="nav-menu" src="../assets/img/home_img/nav_menu.png" alt="">
        <ul class="nav-link">
            <li><a class="lt-green" href="#">Home</a></li>
            <li><a href="#">All Courses</a></li>
            <li><a href="#">Staff</a></li>
        </ul>
        <div id="search-box">
            <img src="../assets/img/home_img/Register.svg" alt="">
        </div>
    </div>
    <div id="hero">
        <img src="../assets/img/home_img/hero.svg" alt="">
    </div>
</div>