@import url(fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Hero Section ------------------------------------------------------------------------------------*/
#home {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background: url(../img/home_img/bg-course.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(64, 64, 64, 0.7);
    background-blend-mode: overlay;
}

#home .logo-bar {
    display: block;
    height: 12%;
}

#home .path {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 6%;
}

#home .path a {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: large;
}

#home .path a:hover {
    color: #b7c9c7;
}

#home .path i {
    display: flex;
    color: white;
    align-items: center;
    font-size: 15px;
    margin: 0px 5px 0px 5px;
}

#home .path span {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #1EB2A6;
    font-size: large;
}

#home .logo {
    float: right;
    margin-top: 25px;
    margin-right: 2.5%;
    width: 32.5%;
    height: auto;
}

#home .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(88%);
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    margin: 15% 6% 0px 6%;
    overflow: hidden;
}

#home .menu-bar #course-name {
    width: 80%;
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 2%;
}

#search-box {
    position: relative;
    width: 268px;
    height: 65px;
}

#search-box label {
    position: absolute;
    right: 22%;
    top: 25%;
    color: white;
    z-index: 100;

    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.15em;
}

#search-box img {
    position: absolute;
    height: 65px;
    right: 0;
    top: 0;
}

/* screen <= 1024px */
@media (max-width: 1024px) {
    #home .menu-bar #course-name {
        font-size: 25px;
    }

    #home .menu-bar {
        margin-top: 25%;
    }
}

/* screen <= 960px */
@media (max-width: 960px) {

    #home .menu-bar {
        height: 60px;
        margin-top: 20%;
        /* overflow: visible; */
    }

    #search-box img {
        height: 62px;
        right: -30px;
    }

}

/* screen <= 800px */
@media (max-width: 800px) {

    #home .logo {
        width: 40%;
    }

    #home .menu-bar {
        height: 70px;
        margin-top: 25%;
        /* overflow: visible; */
    }

    #home .path a {
        font-size: medium;
    }

    #home .path i {
        font-size: 12px;
    }

    #home .path span {
        font-size: medium;
    }

    #search-box {
        height: 70px;
    }

    #search-box img {
        height: 70px;
        right: -80px;
    }

    #search-box label {
        font-size: 22px;
    }
}

/* screen < 695px */
@media (max-width: 695px) {

    #home .logo {
        width: 40%;
    }

    #home .menu-bar {
        height: 80px;
        margin-top: 25%;
    }

    #home .menu-bar #course-name {
        font-size: 20px;
    }

    #home .path a {
        font-size: small;
    }

    #home .path i {
        font-size: 10px;
    }

    #home .path span {
        font-size: small;
    }

    #search-box {
        height: 80px;
    }

    #search-box img {
        height: 85px;
        right: -150px;
    }

    #search-box label {
        font-size: 20px;
    }
}

/* screen <= 500px */
@media (max-width: 500px) {

    #home .logo {
        width: 50%;
    }

    #home .menu-bar {
        height: 100px;
        margin-top: 30%;
        overflow: visible;
    }

    #home .menu-bar #course-name {
        font-size: 15px;
    }

    #search-box {
        height: 100px;
        overflow: hidden;
    }

    #search-box img {
        height: 100px;
        right: -250px;
    }

    #search-box label {
        font-size: 15px;
        right: 15%;
        top: 34%;
    }
}

/* Course Cards ---------------------------------------------------------------*/

.container-md {
    margin-top: 60px;
    margin-bottom: 80px;
}

.section-title {
    margin-bottom: 8%;
}

.card {
    display: flex;
    height: 100%;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.left.card {
    padding: 5%;
}

.right.card {
    padding: 2% 4% 2% 4%;
}

.right.card .col-2 {
    padding: 4% 3% 3% 3%;
}

.card:hover {
    transform: scale(1.008);
    background-color: rgb(255, 255, 255);
}

.card .card-body h3, .desc-title h3 {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #535353;
    padding: 0;
}

.left.card .card-body h3 {
    margin-bottom: 20%;
}

.left.card .card-body .table tbody tr th, 
.left.card .card-body .table tbody tr td {
    line-height: 30px;
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #7C7C7C;
}

.desc-title {
    padding: 4% 3% 3% 4%
}

.right.card .card-body {
    padding-top: 2%;
}

.right.card .card-body h3 {
    margin-bottom: 20px;
}

.right.card .card-body .table tbody tr th, 
.right.card .card-body .table tbody tr td {
    line-height: 30px;
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #7C7C7C;
}

.card .card-body .table tbody tr th label{
    color: #1EB2A6;
}

.right.card img {
    margin-bottom: auto;
}

.right.card .card-body p {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #777777;
    text-align: justify;
    margin-bottom: 8%;
}

.right.card .ilo tbody tr td {
    padding-bottom: 2%;
}

.right.card .ref-book {
    margin-bottom: 0;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 0 4%;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #1EB2A6;
}

.circle .content {
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transform: rotate(-5deg);
}

.circle .content h3 {
    font-family: 'Titan One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.crs_credits {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1EB2A6;
}

.crs_coordinator {
    display: flex;
    margin-bottom: 10px;
}

.crs_coordinator_img {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.crs_coordinator_img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.crs_coordinator_img img:hover {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 0;
    top: -100px;
    box-shadow: 5px 5px 5px #5353535e;
}

.crs_coordinator_name {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #7E7E7E;
}

.btn-viewMore {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    border-color: #1EB2A6;
    color: #ffffff;
    background-color: #1EB2A6;
    border-width: 1px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
}

.btn-viewMore:hover {
    border-color: #1EB2A6;
    background-color: #1eb2a6cf;
    color: #ffffffe1;
}

/* Counter Area - Course Page ------------------------------------------------- */
.counter_area .counter_bg {
    background-image: url(../img/home_img/stat-bar.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    padding: 64px 0;
    background-size: cover;
    background-color: rgb(67, 67, 67);
    background-blend-mode: overlay;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .counter_area .counter_bg {
        padding: 64px 25px;
    }
}

.counter_area .single_counter .icon {
    margin-right: 10px;
}

.counter_area .single_counter .icon i {
    font-size: 70px;
    color: #fff;
}

.counter_area .single_counter .events h3 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
}

.counter_area .single_counter .events p {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 200;
    color: #fff;
}

.counter_area {
    position: relative;
}

.counter_area > a {
    position: absolute;
    right: 20px;
    bottom: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.08rem;
}

.counter_area > a:hover {
    color: #9ab7b5;
}

/* Profile Cards ---------------------------------------------------------------*/

.profileCard .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profileCard .container .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard .container .card::before {
    content: "";
    position: absolute;
    top: -50px;
    height: 0;
    width: 150%;
    background-color: #e3e3e3;
    z-index: -1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card {
    /* width: 280px; */
    height: 365px;
    overflow: hidden;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    border: none;
    margin: 50px 15px 90px 15px;
}

.profileCard .container .card:hover::before {
    height: 150px;
}

.profileCard .container .card .img-container {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card:hover .img-container {
    border: 10px solid #e3e3e3;
}

.profileCard .container .card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card:hover .img-container img {
    box-shadow: 0 0 0 14px #ffffff88;
    transform: scale(0.8);
}

.profileCard .container .card .h4 {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px !important;
    pointer-events: none;
}

.profileCard .container .card .designation {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    letter-spacing: 2px;
    pointer-events: none;
    color: #1EB2A6;
}

.profileCard .container .card ul {
    background-color: #e3e3e3;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
}

.profileCard .container .card:hover ul {
    transform: translateY(40px);
}

.profileCard .container .card ul li {
    padding: 5px 8px;
    transition: all 0.4s;
}

.profileCard .container .card ul li a {
    color: #FFF;
}

/* .profileCard .container .card ul li:hover {
    background: #fff;
} */

.profileCard .container .card ul li:hover a {
    color: #a3c7c4;
}

.btn-viewProfile {
    border-color: #e3e3e3;
    border-width: 2px;
    color: #e3e3e3;
}

.btn-viewProfile:hover {
    border-color: #e3e3e3;
    background-color: #e3e3e3;
    border-width: 2px;
    color: #ffffff;
}

.slider {
    margin-bottom: 20px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.05);
    opacity: 1;
    background-color: #1EB2A6;
}

.slider .owl-item.active.center .slider-card .h4 {
    color: white;
}

.slider .owl-item.active.center .slider-card .designation {
    color: white;
}

.slider .owl-item.active.center .slider-card .btn-viewProfile {
    border-color: #ffffff;
    color: #ffffff;
}

.slider .owl-item.active.center .slider-card .btn-viewProfile:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    border-width: 2px;
    color: #1EB2A6;
}

.slider .owl-item.active.center .slider-card.card::before {
    background-color: #1a9086c2;
}

.slider .owl-item.active.center .slider-card.card ul {
    background-color: #1a9086c2;
}

.slider .owl-item.active.center .slider-card.card ul li:hover a {
    color: #e3e3e3;
}

.slider .owl-item.active.center .slider-card.card:hover .img-container {
    border: 10px solid #e3e3e3;
}

.slider .owl-item.active.center .slider-card.card:hover .img-container img {
    box-shadow: 0 0 0 14px #ffffff88;
}

.slider-card {
    transform: scale(0.995);
    /* opacity: 0.5; */
    transition: all 0.3s;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 30px);
    right: -10px;
    opacity: 1;
    font-size: 30px !important;
    color: #7C7C7C !important;
    z-index: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 30px);
    left: -10px;
    opacity: 1;
    font-size: 30px !important;
    color: #7C7C7C !important;
    z-index: 1;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    color: #1EB2A6;
    z-index: 100;
}
