@import url(com_home_masters_style.css);
/* import commom css (home / masters) */

.container-fluid {
    background-color: #ececec;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 100px;
}

.title {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.table, .content, .MSc-Content, .contact, .card {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    /* color: #6f6f6f; */
    color: #7C7C7C;
    letter-spacing: 0.05rem;
}

.table {
    position: centre;
    text-align: center;
    padding: 20px;
    column-width: 10px;
    background-color: #ffffff;
}

.table thead {
    background-color: rgb(230, 247, 247);
    padding: 5px 12px;
}

.card {
    background-color: #f4f4f4;
    width: 1600px;
    height: 1auto;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
}

.card-body {
    padding: 4% 2%;
}

.card-option {
    margin: 0.7rem !important;
    background-color: white;
}

.card-header {
    font-weight: bold;
    text-align: center;
}

