* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Hero Section ------------------------------------------------------------------------------------*/
#home {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background: url(../img/home_img/bg-home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color:rgb(64, 64, 64, 0.4);
    background-blend-mode: overlay;
}

#home .logo-bar {
    display: block;
    justify-content: space-between;
}

#home .logo {
    margin-top: 25px;
    margin-left: 6%;
    width: 32.5%;
    height: auto;
}

#home .clock {
    float: right;
    margin-top: 30px;
    margin-right: 6%;
    width: 16%;
    height: auto;
}

#home .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(88%);
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    margin: 25px 6% 0px 6%;
}

#home .menu-bar .nav-menu {
    width: 23px;
    margin-left: 20px;
    display: none;
}

#home .menu-bar > ul {
    text-decoration: none;
    margin: 0;
}

#home .menu-bar > ul > li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    font-family: 'Inria Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
}

#home .menu-bar > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

#home .menu-bar > ul > li:hover > a {
    color: #809492;
}

#home .menu-bar .lt-green {
    color: #23C9BB;
}

/* -------- all course - drop down --------------------------------------- */

.all_course {
    position: relative;
    cursor: pointer;
}

.all_course i {
    margin: 0px 6px;
    font-size: large;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.space {
    display: none;
    /* background-color: #de6718; */
    position: absolute;
    left: -15px;
    height: 35px;
    width: 200px;
    z-index: 1;
}

.sub-menu {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    left: -15px;
    top: 55px;
    padding: 0;
    width: 200px;
    border-radius: 5px;
    z-index: 200;
    transform: translateY(-10px);
    transition: transform 0.4s ease, opacity 0.4s ease-in;
}

.sub-menu li {
    list-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0px;
}

.sub-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inria Sans' sans-serif;
    font-size: medium;
    letter-spacing: 0.1rem;
}

.sub-menu li:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.sub-menu li:hover a {
    color: #697978;
}

.all_course:hover .space {
    display: block;
}

.all_course:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* ------------------------------------------------------- */

#search-box {
    position: relative;
    width: 269px;
    height: 60px;
    overflow: hidden;
}

#search-box img {
    position: absolute;
    height: 65px;
    right: 0;
    top: 0px;
}

#hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    position: absolute;
    bottom: 55%;
    height: 158px;
}

/* screen <= 768px */
@media (max-width: 768px) {

    #home .logo {
        width: 40%;
    }
    
    #home .clock {
        width: 22%;
    }

    #home .menu-bar {
        height: 40px;
        overflow: visible;
    }

    #home .menu-bar > ul > li {
        margin: 0px 10px 0px 22px;
        font-size: 80%;
    }

    .all_course i {
        font-size: medium;
    }

    .sub-menu {
        width: 150px;
        top: 40px;
    }

    .space {
        height: 25px;
        width: 150px;
    }

    .sub-menu li a {
        font-size: small;
    }

    #search-box {
        width: 165px;
        height: 40px;
    }

    #search-box img {
        height: 40px;
        right: 0;
        top: 0;
    }

    #hero img {
        bottom: 50%;
        height: 120px;
    }
}

/* screen < 576px */
@media (max-width: 576px) {

    #home .logo {
        width: 50%;
    }
    
    #home .clock {
        width: 27%;
    }

    #home .menu-bar {
        position: relative;
        height: 40px;      
    }

    #home .menu-bar .nav-menu {
        display: flex;
    }

    #home .menu-bar .lt-green {
        color: #196962;
    }

    #home .menu-bar > ul {
        position: absolute;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 40px;
        background: #23c9bbe2;
        padding: 20px 20px 50px 20px;
        z-index: 100;
    }

    #home .menu-bar > ul.active {
        display: flex;
    }

    #home .menu-bar > ul > li {
        margin: 0px;
        margin-top: 30px;
        font-size: 100%;
    }

    #home .menu-bar > ul > li:hover > a {
        font-size: 110%;
        color: #30746d;
    }

    .all_course:hover .sub-menu {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
    }

    .all_course.clicked .sub-menu {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        left: -50%;
        top: 10px;
        width: 200%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all_course.clicked .sub-menu li:hover {
        text-align: center;
        width: 100%;
    }

    .all_course i {
        margin: 0px 0px 0px 10px;
    }

    #hero img {
        bottom: 50%;
        height: 100px;
    }
}