@import url(com_home_masters_style.css);
/* import commom css (home / masters) */

#home {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background: url(../img/home_img/bg-home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(64, 64, 64, 0.55);
    background-blend-mode: overlay;
}

.container-fluid {
    background-color: #ececec;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 150px;
}

.title {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.table,
.content,
.MSc-Content,
.contact,
.card {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    /* color: #6f6f6f; */
    color: #7C7C7C;
    letter-spacing: 0.05rem;
}

.table {
    position: centre;
    text-align: center;
    padding: 20px;
    column-width: 10px;
    background-color: #ffffff;
}

.table thead {
    background-color: rgb(230, 247, 247);
    padding: 5px 12px;
}

.card {
    background-color: #f4f4f4;
    width: 1600px;
    height: 1auto;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
}

.card-body {
    padding: 4% 2%;
}

.card-option {
    box-sizing: border-box;
    margin: 0.7rem;
    background-color: white;
}

.card-header {
    font-weight: bold;
    text-align: center;
    background-color: rgb(230, 247, 247);
}

/* ---------------------------------------------------------------------------- */

.card-opt {
    position: relative;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
    padding: 5%;
    padding-left: calc(45px + 5%);
    border-radius: 2px;
    overflow: hidden;
}

.card-boder {
    padding-bottom: 1.4rem;
}

.card-opt:hover {
    transform: scale(1.02);
    background-color: rgb(255, 255, 255);
}

.card-opt .card-body h3 {
    font-family: 'Alatsi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #535353;
}

.card-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 45px;
    background-color: #1EB2A6;
    top: 0;
    left: 0;
}

.card-side p {
    font-family: 'Titan One', cursive;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.5rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    text-align: right;
    text-orientation: sideways;
}