@font-face {
    font-family: Araboto;
    src: url(../webfonts/Araboto-Normal-400.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../webfonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Fabrikat;
    src: url(../webfonts/Fabrikat-Normal-Medium.otf);
}

.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

/* Body ------------------------------------------------------------------- */
body {
  background: #ecececcb;
}

.section-title{
    font-family: Araboto;
    color: #2f2f2f;
    
}


/* Footer ------------------------------------------------------------------- */
.footer-link{
  text-decoration: none !important;
  color: white !important;
  padding: 0 6px;
  transition: 0.3s;
}
.footer-link:hover{
  color: #020202 !important;
}

footer a{
  text-decoration: none !important;
  color: white !important;
  transition: 0.3s;
}
footer a:hover{
  color: #080b0b !important;
}

footer li{
  padding-bottom: 4px;
}

.footer-hr{
  width: 60px; background-color: #ffffff; height: 2px
}

.footer{
  background-color: #1EB2A6 !important;
  text-decoration: none;
}

/*Course Page -> Profile Cards ---------------------------------------------------------------*/

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fabrikat;
} 


.profileCard .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profileCard .container .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard .container .card::before {
    content: "";
    position: absolute;
    top: -50px;
    height: 0;
    width: 150%;
    background-color: #2c9088;
    z-index: -1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card {
    width: 280px;
    height: 365px;
    overflow: hidden;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    border: none;
    
}

.profileCard .container .card:hover::before {
    height: 150px;
}

.profileCard .container .card .img-container {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card:hover .img-container {
    border: 10px solid #2c9088;
}

.profileCard .container .card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.profileCard .container .card:hover .img-container img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.8);
}

/* .profileCard .container .card .h3 {
    margin-bottom: 5px !important;
    font-weight: 600;
    pointer-events: none;
} */

.profileCard .container .card .designation {
    font-size: 0.85rem;
    letter-spacing: 2px;
    pointer-events: none;
}

.profileCard .container .card ul {
    background-color: #2c9088;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
}

.profileCard .container .card:hover ul {
    transform: translateY(40px);
}

.profileCard .container .card ul li {
    padding: 5px 8px;
    transition: all 0.4s;
}

.profileCard .container .card ul li a {
    color: #FFF;
}

.profileCard .container .card ul li:hover {
    background: #fff;
}

.profileCard .container .card ul li:hover a {
    color: #1369ce;
}

.btn-viewProfile{
    border-color: #4c8580;;
    border-width:2px;
    color: #1f857d;
}

.btn-viewProfile:hover{
    border-color: #2c9088;
    background-color: #2c9088;
    border-width:2px;
    color: #ffffff;;
}

/* Counter Area - Course Page ------------------------------------------------- */
.counter_area .counter_bg {
  background-image: url(../img/home_img/stat-bar.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; 
  padding: 64px 0;
  margin: 0;
   background-size: cover; 
  background-color:rgb(67, 67, 67); 
  background-blend-mode: overlay;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .counter_area .counter_bg {
    padding: 64px 25px;
  }
}

.counter_area .single_counter .icon {
  margin-right: 10px;
}

.counter_area .single_counter .icon i {
  font-size: 70px;
  color: #fff;
}

.counter_area .single_counter .events h3 {
  font-size: 40px;
  margin-bottom: 0;
  color: #fff;
}

.counter_area .single_counter .events p {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 200;
  color: #fff;
}


/* Masters------------------------------------------------------------------- */

.dropdown .btn{
  box-sizing: border-box;
  background: #1EB2A6;
  border: 1px solid #1EB2A6;
  border-radius: 5px;
  margin-left: 25px;
  width: 150px;
}

.courseCard .container-md{
  margin-top: 60px;
  margin-bottom: 60px;
}

.courseCard .card{
  display: flex;
  margin: 1. 0em;
  border-radius: 10px;
  background: #efefef;
  width: 18rem;
}

.courseCard .card:hover{
  transform: scale(1.02);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);;
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  background-color: rgb(255, 255, 255);
}

.courseCard .card .btn{
  box-sizing: border-box;
  width: 255px;
  border: 1px solid #1EB2A6;
  border-radius: 5px;
  
}

.card .card-body h3{
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #535353;
}

.circle{
  margin-top: 3%;
  margin-left: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1EB2A6;
}

.circle .content{   
  margin-top: 30%;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transform: rotate(-5deg);
}

.pagination{
  box-sizing: border-box;
  text-align: center;
  margin: 30px 30px 60px;
  left: 500px;
}

.pagination li{
  display: inline-block;
  margin: 5px;
}

.previous-page, .next-page{
  width: 80px;
}