@import url(fonts.css);

.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

/* Body ------------------------------------------------------------------- */
body {
  background: #ecececcb;
}

.section-title{
    font-family: Araboto;
    color: #2f2f2f;
    
}

.title {
  margin-top: 80px !important;
  margin-bottom: 100px !important;
}


/* Footer ------------------------------------------------------------------- */
.footer-link{
  text-decoration: none !important;
  color: white !important;
  padding: 0 6px;
  transition: 0.3s;
}
.footer-link:hover{
  color: #020202 !important;
}

footer a{
  text-decoration: none !important;
  color: white !important;
  transition: 0.3s;
}
footer a:hover{
  color: #30746d !important;
}

footer li{
  padding-bottom: 4px;
}

.footer-hr{
  width: 60px; background-color: #ffffff; height: 2px
}

.footer{
  background-color: #1EB2A6 !important;
  text-decoration: none;
}

/* Reveal effect on scroll ------------------------------------------------------------- */

.reveal {
  position: relative;
  transform: translateY(300px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}