* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Hero Section ------------------------------------------------------------------------------------*/
#home {
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background: url(../img/home_img/bg-masters.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color:rgb(64, 64, 64, 0.4);
    background-blend-mode: overlay;
}

#home .logo-bar {
    display: block;
    justify-content: space-between;
}

#home .logo {
    margin-top: 25px;
    margin-left: 6%;
    width: 32.5%;
    height: auto;
}

#home .clock {
    float: right;
    margin-top: 30px;
    margin-right: 6%;
    width: 16%;
    height: auto;
}

#home .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(88%);
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    margin: 25px 6% 0px 6%;
    overflow: hidden;
}

#home .menu-bar .nav-menu {
    width: 23px;
    margin-left: 20px;
    display: none;
}

#home .menu-bar ul {
    text-decoration: none;
    margin: 0;
}

#home .menu-bar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    font-family: 'Inria Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
}

#home .menu-bar ul li a {
    text-decoration: none;
    color: #ffffff;
}

#home .menu-bar .lt-green {
    color: #23C9BB;
}

#search-box {
    position: relative;
}

#search-box img {
    position: absolute;
    height: 65px;
    right: 0;
    top: -32.5px;
}

#hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    position: absolute;
    bottom: 55%;
    height: 158px;
}

/* screen <= 768px */
@media (max-width: 768px) {

    #home .logo {
        width: 40%;
    }
    
    #home .clock {
        width: 22%;
    }

    #home .menu-bar {
        height: 40px;
        overflow: visible;
    }

    #home .menu-bar ul li {
        margin-right: 20px;
        font-size: 80%;
    }

    #search-box img {
        height: 40px;
        right: 0;
        top: -20px;
    }

    #hero img {
        bottom: 50%;
        height: 120px;
    }
}

/* screen < 576px */
@media (max-width: 576px) {

    #home .logo {
        width: 50%;
    }
    
    #home .clock {
        width: 27%;
    }

    #home .menu-bar {
        position: relative;
        height: 40px;      
    }

    #home .menu-bar .nav-menu {
        display: flex;
    }

    #home .menu-bar .lt-green {
        color: #196962;
    }

    #home .menu-bar ul {
        position: absolute;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 40px;
        background: #23c9bbe2;
        padding: 20px 20px 50px 20px;
        z-index: 100;
        /* transition: display 5s ease-in; */
    }

    #home .menu-bar ul.active {
        display: flex;
    }

    #home .menu-bar ul li {
        margin-top: 30px;
        font-size: 100%;
    }

    #hero img {
        bottom: 50%;
        height: 100px;
    }
}

/* Module Cards ------------------------------------------------------------------- */

.dropdown .btn{
    box-sizing: border-box;
    background: #1EB2A6;
    border: 1px solid #1EB2A6;
    border-radius: 5px;
    margin-left: 25px;
    width: 150px;
  }
  
  .courseCard .container-md{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .courseCard .card{
    display: flex;
    margin: 1. 0em;
    border-radius: 10px;
    background: #efefef;
    width: 18rem;
  }
  
  .courseCard .card:hover{
    transform: scale(1.02);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    background-color: rgb(255, 255, 255);
  }
  
  .courseCard .card .btn{
    box-sizing: border-box;
    width: 255px;
    border: 1px solid #1EB2A6;
    border-radius: 5px;
    
  }
  
  .card .card-body h3{
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #535353;
  }
  
  .circle{
    margin-top: 3%;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1EB2A6;
  }
  
  .circle .content{   
    margin-top: 30%;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transform: rotate(-5deg);
  }
  
  .pagination{
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 60px;
    left: 500px;
  }
  
  .pagination li{
    display: inline-block;
    margin: 5px;
  }
  
  .previous-page, .next-page{
    width: 80px;
  }