---
layout: default
---

<!------------ NARRATION -- Brief Introduction To The Course ------------>

<div class="container-md">

    <div class="row">

        <div class="col-12 text-center mb-5">
            <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">NARRATION</span>
            <h1 class="fw-bold mb-5 pb-2 section-title">Brief Introduction To The Course</h2>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div class="left card mx-auto mb-3">
                <div class="row">
                    <div class="circle col-4">
                        <div class="content">
                            <h3>TE</h3>
                        </div>
                    </div>

                    <div class="card-body col-8">
                        <h3>COXXX</h3>
                        <p class="crs_credits">3 Credits</p>
                        <div class="crs_coordinator">
                            <div class="crs_coordinator_img">
                                <img src="/assets/img/staff/img2.webp" alt="Prof">
                            </div>
                            <p class="crs_coordinator_name">by course coordintor</p>
                        </div>
                    </div>
                </div>

                <div class="row card-body">
                    <h3>Lecture hours</h3>
                    <ul>
                        <li><i class="bi bi-arrow-right"></i>Lectures</li>
                        <li><i class="bi bi-arrow-right"></i>Tutorial classes</li>
                        <li><i class="bi bi-arrow-right"></i>Practical classes</li>
                    </ul></br>

                    <h3>Marks allocation</h3>
                    <ul>
                        <li><i class="bi bi-arrow-right"></i>Practical</li>
                        <li><i class="bi bi-arrow-right"></i>Assignments</li>
                        <li><i class="bi bi-arrow-right"></i>Mid-semester Examination</li>
                        <li><i class="bi bi-arrow-right"></i>End-semester Examination</li>
                    </ul></br>
                </div>

                <a href="#" class="btn btn-outline-primary btn-viewMore mx-auto">Download Course Plan</a>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8">
            <div class="right card">

                <div class="row">
                    <img class="col-2" src="/assets/img/ic_description.svg" alt="Description">
                    <div class="card-body col-10">
                        <h3>Description</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit nostrum quam,
                            sit, architecto nisi consequatur reiciendis ipsum doloremque repellendus deleniti
                            nihil. Esse tempora ea vel inventore tempore sed enim doloremque.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit nostrum quam,
                            sit, architecto nisi consequatur reiciendis ipsum doloremque repellendus deleniti
                            nihil. Esse tempora ea vel inventore tempore sed enim doloremque.</p>
                    </div>
                </div>
                <div class="card-body">
                    <h3>Intended Learning Outcomes</h3>
                    <ul class="ilo">
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                        <li><i class="bi bi-arrow-right"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Odit nostrum</li>
                    </ul></br>

                    <h3>Textbooks and References</h3>
                    <ul>
                        <li><i class="bi bi-arrow-right"></i>J.D. Ulman, Foundations of Computer Science C edition</li>
                        <li><i class="bi bi-arrow-right"></i>J.D. Ulman, Foundations of Computer Science C edition</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!--------------------------- STATISTICAL DATA --------------------------->

<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container-fluid p-0">
        <div class="counter_bg px-5">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->


<!--------------- STAFF -- Academic Staff Members For This Module ------------------>


<div class="profileCard">
    <div class="container pb-5">
        <div class="row px-2">
            <div class="col-12 text-center mt-5 mb-2">
                <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">STAFF</span>
                <h1 class="fw-bold mb-5 pb-2 section-title">Academic Staff Members For This Module</h2>
            </div>

            <div class="slider col-12 mt-5">
                <div class="owl-carousel">
                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Lecturer</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <!-- <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li> -->

                        </ul>
                    </div>

                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Instructor</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li>

                        </ul>
                    </div>

                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Instructor</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li>

                        </ul>
                    </div>

                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Instructor</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li>

                        </ul>
                    </div>

                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Instructor</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li>

                        </ul>
                    </div>

                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="/assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                            <p class="designation text-uppercase">Instructor</p>
                            <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                        </div>
                        <ul
                            class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fa fa-globe"></span></a></li>
                            <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                            <li><a href="#"><span class="fab fa-google"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4 mb-md-0 mb-4">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>

                        <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                        <p class="designation text-muted text-uppercase">Instructor</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>
                        <span class="h4 text-center text-uppercase px-2">David Peterson</span>
                        <p class="designation text-muted text-uppercase">Senior Lecturer</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>
                        <span class="h4  text-center text-uppercase px-2">Jhon Buttler</span>
                        <p class="designation text-muted text-uppercase">Instructor</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>


<!-- <div class="site-section bg-info">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <span class="text-cursive h5 text-red d-block">Packages You Like</span>
          <h2 class="text-white">Our Packages</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="package text-center bg-white">
            <span class="img-wrap"><img src="images/flaticon/svg/001-jigsaw.svg" alt="Image" class="img-fluid"></span>
            <h3 class="text-teal">Indoor Games</h3>
            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
            <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="package text-center bg-white">
            <span class="img-wrap"><img src="images/flaticon/svg/002-target.svg" alt="Image" class="img-fluid"></span>
            <h3 class="text-success">Outdoor Game and Event</h3>
            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
            <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="package text-center bg-white">
            <span class="img-wrap"><img src="images/flaticon/svg/003-mission.svg" alt="Image" class="img-fluid"></span>
            <h3 class="text-danger">Camping for Kids</h3>
            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
            <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->