---
layout: default
---

<!------------ NARRATION -- Brief Introduction To The Course ------------>

<div class="container-md">

    <div class="row">

        <div class="col-12 text-center mb-5">
            <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">NARRATION</span>
            <h1 class="fw-bold mb-5 pb-2 section-title">Brief Introduction To The Course</h2>
        </div>

        <div class="col-12 col-md-4 col-lg-4" style="padding-right: 0.5rem;">
            <div class="left card mx-auto mb-3">
                <div class="row">
                    <div class="circle col-4">
                        <div class="content">
                            <h3>{{ page.course_type }}</h3>
                        </div>
                    </div>

                    {% assign coordinator_email = page.email_coordinator | split: "@" %}
                    {% assign coordinator_id = coordinator_email[0] | strip %}
                    {% assign coordinator_name = site.data.staff_details[coordinator_id].name %}
                    {% assign img_url = site.data.staff_details[coordinator_id].profile_image %}
                    <div class="card-body col-8">
                        <h3>{{ page.course_code }}</h3>
                        <p class="crs_credits">{{ page.course_credits }} Credits</p>
                        <div class="crs_coordinator">
                            <div class="crs_coordinator_img">
                                <img src="{{ img_url }}" alt="Prof">
                            </div>
                            <p class="crs_coordinator_name">by {{ coordinator_name }}</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h3>Lecture hours</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Lectures</td>
                                <td>{{ page.lecture_hours }} hours</td>
                            </tr>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Tutorial classes</td>
                                <td>{{ page.tutorial_hours }} hours</td>
                            </tr>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Practical classes</td>
                                <td>{{ page.practical_hours }} hours</td>
                            </tr>
                        </tbody>
                    </table></br>

                    <h3>Marks allocation</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Practical</td>
                                <td>{{ page.practical_marks }}</td>
                            </tr>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Assignments</td>
                                <td>{{ page.assignment_marks }}</td>
                            </tr>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>Mid Examination</td>
                                <td>{{ page.midExam_marks }}</td>
                            </tr>
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <td>End Examination</td>
                                <td>{{ page.endExam_marks }}</td>
                            </tr>
                        </tbody>
                    </table></br>

                </div>

                <a href="#" class="btn btn-outline-primary btn-viewMore mx-auto">Download Course Plan</a>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8" style="padding-left: 0.5rem;">
            <div class="right card">

                
                <div class="row">
                    <img class="col-2" src="/assets/img/ic_description.svg" alt="Description">
                    <div class="desc-title col-10">
                        <h3>Description</h3>
                    </div>
                </div>
                

                <div class="card-body">
                    <p>{{page.description}}</p>

                    <h3>Intended Learning Outcomes</h3>
                    <table class="table ilo">
                        <tbody>
                            {% for each in page.ILO %}
                            <tr>
                                <th scope="row"><label class="fas fa-arrow-right me-2"></label></th>
                                <td>{{ each }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table></br>

                    <h3>Textbooks and References</h3>
                    <table class="table ref-book">
                        <tbody>
                            {% for each in page.textbooks %}
                            <tr>
                                <!-- <th scope="row"><i class="bi bi-arrow-right"></i></th> -->
                                <th scope="row"><label class="fas fa-arrow-right me-2"></label></th>
                                <td>{{ each }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------- STATISTICAL DATA --------------------------->

<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container-fluid p-0">
        <div class="counter_bg px-5">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{ page.stat1 }}</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{ page.stat2 }}</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{ page.stat3 }}</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{ page.stat4 }}</h3>
                            <p class="text-uppercase">Finished Event</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#">View All</a>
</div>
<!-- counter_area_end  -->


<!--------------- STAFF -- Academic Staff Members For This Module ------------------>
<div class="profileCard">
    <div class="container pb-5">
        <div class="row px-2">
            <div class="col-12 text-center mt-5 mb-2">
                <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">STAFF</span>
                <h1 class="fw-bold mb-5 pb-2 section-title">Academic Staff Members For This Module</h2>
            </div>

            <div class="slider col-12 mt-5">
                <div class="owl-carousel">
                   
                    {% for lecturer in page.email_lecturers %}
                    {% assign lecturer_email = lecturer | split: "@" %}
                    {% assign lecturer_id = lecturer_email[0] | strip %}
                    {% assign lecturer_name = site.data.staff_details[lecturer_id].name %}
                    {% assign img_url = site.data.staff_details[lecturer_id].profile_image %}
                    {% assign profile_url = site.data.staff_details[lecturer_id].profile_url %}
                    {% assign linkedin = site.data.staff_details[lecturer_id].urls.linkedin %}
                    {% assign google_scholar = site.data.staff_details[lecturer_id].urls.google_scholar %}
                    {% assign researchgate = site.data.staff_details[lecturer_id].urls.researchgate %}
                    {% assign website = site.data.staff_details[lecturer_id].urls.website %}
                    {% assign orcid = site.data.staff_details[lecturer_id].urls.orcid %}
                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="{{img_url}}" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">{{ lecturer_name }}</span>
                            <p class="designation text-uppercase">Lecturer</p>
                            {% if profile_url != '#' %}
                            <p><a href="{{profile_url}}" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                            {% endif %}
                        </div>
                        
                        {% if linkedin or google_scholar or researchgate or website or orcid %}
                        <ul class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            
                            {% if linkedin != '' %}
                            <li><a href="{{linkedin}}"><span class="fab fa-linkedin-in"></span></a></li>
                            {% endif %}
                            
                            {% if website != '' %}
                            <li><a href="{{website}}"><span class="fa fa-globe"></span></a></li>
                            {% endif %}

                            {% if researchgate != '' %}
                            <li><a href="{{researchgate}}"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            {% endif %}

                            {% if orcid != '' %}
                            <li><a href="{{orcid}}"><span class="fab fa-orcid"></span></a></li>
                            {% endif %}

                            {% if google_scholar != '' %}
                            <li><a href="{{google_scholar}}"><span class="fab fa-google"></span></a></li>
                            {% endif %}
                            
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                    {% for instructor in page.email_instructors %}
                    {% assign instructor_email = instructor | split: "@" %}
                    {% assign instructor_id = instructor_email[0] | strip %}
                    {% assign instructor_name = site.data.staff_details[instructor_id].name %}
                    {% assign img_url = site.data.staff_details[instructor_id].profile_image %}
                    {% assign profile_url = site.data.staff_details[instructor_id].profile_url %}
                    {% assign linkedin = site.data.staff_details[instructor_id].urls.linkedin %}
                    {% assign google_scholar = site.data.staff_details[instructor_id].urls.google_scholar %}
                    {% assign researchgate = site.data.staff_details[instructor_id].urls.researchgate %}
                    {% assign website = site.data.staff_details[instructor_id].urls.website %}
                    {% assign orcid = site.data.staff_details[instructor_id].urls.orcid %}
                    <div class="slider-card card d-flex flex-column align-items-center justify-content-center">
                        <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                            <div class="img-container rounded-circle">
                                <img src="{{img_url}}" alt="" class="rounded-circle">
                            </div>

                            <span class="h4 text-center text-uppercase px-2">{{ instructor_name }}</span>
                            <p class="designation text-uppercase">Instructor</p>
                            {% if profile_url != '#' %}
                            <p><a href="{{profile_url}}" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                            {% endif %}
                        </div>
                        
                        {% if linkedin or google_scholar or researchgate or website or orcid %}
                        <ul class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                            
                            {% if linkedin != '' %}
                            <li><a href="{{linkedin}}"><span class="fab fa-linkedin-in"></span></a></li>
                            {% endif %}
                            
                            {% if website != '' %}
                            <li><a href="{{website}}"><span class="fa fa-globe"></span></a></li>
                            {% endif %}

                            {% if researchgate != '' %}
                            <li><a href="{{researchgate}}"><span class="fab fa-researchgate fa-lg"></span></a></li>
                            {% endif %}

                            {% if orcid != '' %}
                            <li><a href="{{orcid}}"><span class="fab fa-orcid"></span></a></li>
                            {% endif %}

                            {% if google_scholar != '' %}
                            <li><a href="{{google_scholar}}"><span class="fab fa-google"></span></a></li>
                            {% endif %}

                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!-- <div class="col-md-4 mb-md-0 mb-4">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">

                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>

                        <span class="h4 text-center text-uppercase px-2">Lisa Miller</span>
                        <p class="designation text-muted text-uppercase">Instructor</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>
                        <span class="h4 text-center text-uppercase px-2">David Peterson</span>
                        <p class="designation text-muted text-uppercase">Senior Lecturer</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="card d-flex flex-column align-items-center justify-content-center">
                    <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                        <div class="img-container rounded-circle">
                            <img src="../assets/img/staff/img3.jpeg" alt="" class="rounded-circle">
                        </div>
                        <span class="h4  text-center text-uppercase px-2">Jhon Buttler</span>
                        <p class="designation text-muted text-uppercase">Instructor</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm btn-viewProfile">View Profile</a></p>
                    </div>
                    <ul
                        class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fa fa-globe"></span></a></li>
                        <li><a href="#"><span class="fab fa-researchgate fa-lg"></span></a></li>
                        <li><a href="#"><span class="fab fa-orcid"></span></a></li>
                        <li><a href="#"><span class="fab fa-google"></span></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>