---
layout: default
---

<div class="container-fluid">
  <div class="reveal">
    <div class="col-12 text-center title-home">
      <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">OVERVIEW</span>
      <h1 class="fw-bold pb-2 section-title">Postgraduate Degrees in Computer Engineering</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <p class="content">
              The Department of Computer Engineering is offering three postgraduate degree programmes including Master
              of
              Philosophy (M.Phil.)
              and Doctor of Philosophy (Ph.D.) and Master of Sciences (M.Sc.).<br><br>
              Master of Philosophy (M.Phil.) and Doctor of Philosophy (Ph.D.). are the research-based degrees offered by
              the
              Faculty of Engineering.
              Postgraduate research programmes are based entirely on research and completion of a dissertation under the
              guidance of one or more supervisors.
              Master of Philosophy (M.Phil.) and Doctor of Philosophy (Ph.D.) can be done as a full time or part time
              postgraduate.
              Master of Sciences (M.Sc.) also have two options.<br><br>
              Students who are willing to register for postgraduate programmes can download the file with General
              Regulations
              for the Postgraduate Programmes
              in the Faculty of Engineering University of Peradeniya via the following link.<br>
              <a href="#">Download General Regulations<br><br></a>
            </p>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Degree</th>
                    <th>Full Time</th>
                    <th>Part Time</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Ph.D.</td>
                    <td>3 Years</td>
                    <td>4.5 Years</td>
                  </tr>
                  <tr>
                    <td>M.Phil.</td>
                    <td>2 Years</td>
                    <td>3 Years</td>
                  </tr>
                  <tr>
                    <td>M.Sc.</td>
                    <td>1 Year</td>
                    <td>2 Years</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p class="MSc-Content"><br>For postgraduate students who are willing to takepart in the Master of Sciences
              (M.Sc.)
              programme can follow this programme as a 2 years programme or 1 year programme. There are two options
              which students
              can follow during this programme. Students who follow 2 yeras programme can choose either option 1 or
              option 2
              and other students only have option 1. Following are the two options offered by the department and their
              relevant credits amount.<br><br>
            </p>

            <div class="card-content">

              <div class="row">

                <div class="card-boder col-12 col-md-6 col-lg-7 m-0">
                  <div class="card-opt mx-auto">
                    <div class="card-side">
                      <p>TWO YEARS</p>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Option 1</th>
                          <th>Option 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Course Work - 45</td>
                          <td>Course Work - 30</td>
                        </tr>
                        <tr>
                          <td>Research - 15</td>
                          <td>Research - 30</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-boder col-12 col-md-6 col-lg-5 m-0">
                  <div class="card-opt mx-auto">
                    <div class="card-side">
                      <p>ONE YEAR</p>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Option 1</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Course Work - 15</td>
                        </tr>
                        <tr>
                          <td>Advanced Study - 5</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>

            <p class="contact"><br>
              For futher information :-<br>
              <a href="https://people.ce.pdn.ac.lk/staff/academic/upul-jayasinghe/"><label for="">Dr. Upul
                  Jayasinghe</label></a>
              (pgcoordinator.ce@eng.pdn.ac.lk)<br>
              Postgraduate Coordinator, Department of Computer Engineering
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>