---
layout: default
---

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="title mt-5 mb-5">Postgraduate Degrees in Computer Engineering</h1>
            <p class="content">
                The Department of Computer Engineering is offering three postgraduate degree programmes including Master of Philosophy (M.Phil.) 
                and Doctor of Philosophy (Ph.D.) and Master of Sciences (M.Sc.).<br><br>
                Master of Philosophy (M.Phil.) and Doctor of Philosophy (Ph.D.). are the research-based degrees offered by the Faculty of Engineering.
                Postgraduate research programmes are based entirely on research and completion of a dissertation under the guidance of one or more supervisors.
                Master of Philosophy (M.Phil.) and Doctor of Philosophy (Ph.D.) can be done as a full time or part time postgraduate.
                Master of Sciences (M.Sc.) also have two options.<br><br>
                Students who are willing to register for postgraduate programmes can download the file with General Regulations for the Postgraduate Programmes
                in the Faculty of Engineering University of Peradeniya via the following link.<br>
                <a href="#">Download General Regulations<br><br></a>
            </p>
    

            <div>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Degree</th>
                        <th>Full Time</th>
                        <th>Part Time</th>
                      </tr>
                    </thead>

                    <tbody>
                        <tr>
                          <td>Ph.D.</td>
                          <td>3 Years</td>
                          <td>4.5 Years</td>
                        </tr>
                        <tr>
                          <td>M.Phil.</td>
                          <td>2 Years</td>
                          <td>3 Years</td>
                        </tr>
                        <tr>
                          <td>M.Sc.</td>
                          <td>1 Year</td>
                          <td>2 Years</td>
                        </tr>
                      </tbody>
                </table>
            </div>

            <p class="MSc-Content"><br>For postgraduate students who are willing to takepart in the Master of Sciences (M.Sc.) programme
              have two options. Two options contain the following topics.<br><br>   
            </p>

            <ul class="option">
              <li>Option 1</li>
                <ul>
                  <li>Course Work</li>
                  <li>Advanced Study</li>
                  <li>Research</li><br>
                </ul>
              
                <li>Option 2</li>
                <ul>
                  <li>Course Work</li>
                  <li>Research</li>
                </ul>
            </ul>

            <p class="contact"><br>
              For futher information :-<br>
              <a href="https://people.ce.pdn.ac.lk/staff/academic/upul-jayasinghe/">Dr. Upul Jayasinghe</a> (pgcoordinator.ce@eng.pdn.ac.lk)
              <br>Postgraduate Coordinator, Department of Computer Engineering<br>
            </p>
        </div>
    </div>
</div>