---
layout: default
---

<div class="container">
    <div class="row">
        <div class="container col-sm-12 col-md-10 col-lg-10 mx-auto mt-3 py-2">
            <div class="courseCard">

                <div class="col-12 text-center mt-5 mb-5">
                    <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">COURSES</span>
                    <h1 class="fw-bold mb-5 pb-2 section-title">Browse Our Postgraduate Courses</h2>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="book-dropdown" data-bs-toggle="dropdown">
                      Courses
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Core Courses</a></li>
                      <li><a class="dropdown-item" href="#">Technical Electives</a></li>
                      <li><a class="dropdown-item" href="#">Research Topics</a></li>
                    </ul>
                </div>
            
                <div class="container-md">
                    
                    <div class="row g-3">
                
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>TE</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
            
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>TE</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
            
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>Core</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>Core</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>Core</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>Core</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>COXXX</h3>
                                    <h3>Bio Computing</h3>
                                    <p>Module Type 1</p></br>
                                    <p color="#1EB2A6">3 Credits</p>
                                    <p>by course coordintor</p>
                                    <a href="#" class="btn btn-outline-primary">View more</a>
                                </div>  
                            </div>
                        </div>
            
                        <div class="pagination d-flex justify-content-center mx-auto mt-5">
                            <li class="page-item previous-page"><a class=page-link href="#">Prev</a></li>
                            <li class="page-item current-page"><a class=page-link href="#">1</a></li>
                            <li class="page-item dots"><a class=page-link href="#">2</a></li>
                            <li class="page-item current-page"><a class=page-link href="#">3</a></li>
                            <li class="page-item current-page"><a class=page-link href="#">4</a></li>
                            <li class="page-item dots"><a class=page-link href="#">5</a></li>
                            <li class="page-item next-page"><a class=page-link href="#">Next</a></li>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>
