---
layout: default
---

<div class="container">
    <div class="row">
        <div class="container col-sm-12 col-md-10 col-lg-10 mx-auto mt-3 py-2">
            <div class="courseCard">

                <div class="col-12 text-center mt-5 mb-5">
                    <span class="text-uppercase fw-bold h6 d-block" style="color: #1EB2A6;">COURSES</span>
                    <h1 class="fw-bold mb-5 pb-2 section-title">Browse Our Postgraduate Courses</h2>
                </div>

                <div class="container-md dropdown pb-0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="book-dropdown" data-bs-toggle="dropdown">
                      Courses
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Core Courses</a></li>
                      <li><a class="dropdown-item" href="#">Technical Electives</a></li>
                      <li><a class="dropdown-item" href="#">Research Topics</a></li>
                    </ul>
                </div>
            
                <div class="container-md">
                    
                    <div class="row g-3">
                        {%- for each in site.data.course_cards -%}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card mx-auto">
                                <div class="circle">
                                    <div class="content">
                                        <h3>{{ each.course_type}}</h3>
                                    </div>
                                </div>
            
                                <div class="card-body">
                                    <h3>{{ each.course_code}}</h3>
                                    <h3>{{ each.course_title}}</h3>
                                    <p>{{ each.module_type}}</p></br>
                                    <p color="#1EB2A6">{{ each.course_credits}}</p>
                                    <p>by {{ each.course_coordinator}}</p>
                                    <a href="{{ each.coursePage_url}}" class="btn btn-outline-primary btn-viewMore">View More</a>
                                </div>  
                            </div>
                        </div>
                        {%- endfor -%}
                        </div>

                        {% if site.data.course_cards.size > 6 %}
                        {% assign pages =  site.data.course_cards.size | divided_by: 6.0 | ceil %}
                        <div class="pagination d-flex justify-content-center mx-auto mt-5">
                            <li class="page-item previous-page"><a class=page-link href="#">Prev</a></li>
                            {% for count in (1..pages) %}
                            <li class="page-item current-page"><a class=page-link href="#">{{ count }}</a></li>
                            {% endfor %}
                            <li class="page-item next-page"><a class=page-link href="#">Next</a></li>
                        </div>
                        {% endif %}
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>
